
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(20, 19, 20, 0.95),
    rgba(4, 5, 5, 0.95)
  );
  color: #faf8f9;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.text-muted {
  color: black !important;
}

.card {
  background-color: #000000; 
  color: #fafafa;            
  border-radius: 8px;
  border: 1px solid #333;
}


.forum-card {
  background-color: #000000; 
  color: #ffffff;           
  border-radius: 6px;
  border-color: #e85c70; 
  transition: background-color 0.2s ease, transform 0.1s ease;
}


.forum-card:hover {
  background-color: #000000;
  transform: scale(1.01);
  border: none;
}

.forum-card:hover * {
  color: #000000 !important;
}

form input.form-control,
form textarea.form-control {
  background-color: #1c1c1c;
  color: #fafafa;
  border: 1px solid #444;
}

form input.form-control::placeholder,
form textarea.form-control::placeholder {
  color: #aaa;
}


button.btn-primary {
  background-color: #ff6b81;
  border: none;
}

button.btn-primary:hover {
  background-color: #e85c70;
}
